<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        <%= styles %>
    </style>
</head>
<body>
<% if (isSfa === true) { %>
    <div class="order-template-container">
        <div class="order-header-section">
            <% if (orgLogo) { %>
                <img src="<%= orgLogo %>">
            <% } else { %>
                <img class="template-org-logo" src="../src/assets/images/logos/template-org-logo.png">
            <% } %>

            <div class="template-mid-section">
                <table class="template-mid-section-child">
                    <tr>
                        <th>Distributor:</th>
                    </tr>
                    <tr>
                        <th><%= order.Distributor.Name %></th>
                    </tr>
                    <tr>
                        <td>Code: <%= order.Distributor.Code %></td>
                    </tr>
                    <% if (order.Distributor.Address) { %>
                        <tr>
                            <td><%= order.Distributor.Address %></td>
                        </tr>
                    <% } %>
                    <% if (order.Distributor.Mobile) { %>
                        <tr>
                            <td><%= order.Distributor.Mobile %></td>
                        </tr>
                    <% } %>
                    <% if (order.Distributor.Phone) { %>
                        <tr>
                            <td><%= order.Distributor.Phone %></td>
                        </tr>
                    <% } %>
                </table>

                <table class="template-mid-section-child">
                    <tr>
                        <th>Retailer:</th>
                    </tr>
                    <tr>
                        <th><%= order.Customer.CustomerName %></th>
                    </tr>
                    <tr>
                        <td>Code: <%= order.Customer.CustomerCode %></td>
                    </tr>
                    <% if (order.Customer.Address) { %>
                        <tr>
                            <td><%= order.Customer.Address %></td>
                        </tr>
                    <% } %>
                    <% if (order.Customer.Mobile) { %>
                        <tr>
                            <td><%= order.Customer.Mobile %></td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <table class="template-info-section">
                <tr>
                    <td>Order</td>
                    <td>#<%= order.Id %></td>
                </tr>
                <tr>
                    <td>Payment Type</td>
                    <td><%= order.PaymentType %></td>
                </tr>
                <tr>
                    <td>Order Time</td>
                    <td><%= utilFunctions.datePipe(order.CreatedAt, 'dd-MMM-yy h:mm a') %></td>
                </tr>
                <tr>
                    <td>Market</td>
                    <td><%= order.Market.MarketName %></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><%= utilFunctions.approvalPipe(order.IsApproved) %></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><%= order.CreatedBy.UserName %></td>
                </tr>
            </table>
        </div>

        <table class="template-table-with-footer" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th class="text-right">Unit</th>
                <th class="text-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < order.SecondaryOrderDetailList.length; i++) {
                let orderDetail = order.SecondaryOrderDetailList[i];
            %>
            <tr>
                <td><%= i + 1 %></td>
                <td>
                    <%= orderDetail.Product.Name %><b>(<%= orderDetail.Product.Code %>)</b>
                </td>
                <td class="text-right">
                    <%= utilFunctions.currencyPipe(orderDetail.Price) %>
                </td>
                <td class="text-right">
                    <%= orderDetail.Unit %> <%= orderDetail.Product.MeasurementUnitForUnit %>
                </td>
                <td class="text-right">
                    <%= utilFunctions.currencyPipe(orderDetail.TotalAmount) %>
                </td>
            </tr>
            <% } %>
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th class="text-right"></th>
                <th class="text-right"><%= order.Unit %></th>
                <th class="text-right">
                    <%= utilFunctions.currencyPipe(order.OrderTotal) %>
                </th>
            </tr>
            </tfoot>
        </table>

        <% if (order.ItemOfferList || order.OrderOfferList) { %>
            <table class="template-table" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-center">Campaign</th>
                    <th class="text-center">Product</th>
                    <th class="text-center">Discount(%)</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Discount</th>
                </tr>
                </thead>
                <tbody>
                <% if (order.ItemOfferList) { %>
                    <% for (let itemOffer of order.ItemOfferList) { %>
                        <% if (itemOffer.Offer.OfferType === 'PRODUCT_QUANTITY_OFFER') { %>
                            <tr>
                                <td><%= itemOffer.Campaign.Name %></td>
                                <td><%= itemOffer.Product.Name %><b>(<%= itemOffer.Product.Code %>)</b></td>
                                <td class="text-center">
                                    <%= itemOffer.Offer.IsPercentage ? itemOffer.Offer.Amount : 'N/A' %>
                                </td>
                                <td class="text-center">
                                    <%= itemOffer.Quantity %>
                                </td>
                                <td class="text-center">N/A</td>
                            </tr>
                        <% } %>
                        <% if (
                                itemOffer.Offer.OfferType === 'AMOUNT_DISCOUNT_ON_PRODUCT_ORDER_AMOUNT'
                                || itemOffer.Offer.OfferType === 'AMOUNT_DISCOUNT_ON_PRODUCT_UNIT_PRICE'
                                || itemOffer.Offer.OfferType === 'PRODUCT_PERCENTAGE_DISCOUNT_OFFER'
                                || itemOffer.Offer.OfferType === 'PRODUCT_TYPE_PERCENTAGE_DISCOUNT_OFFER'
                                || itemOffer.Offer.OfferType === 'PRODUCT_TYPE_AMOUNT_DISCOUNT_OFFER'
                        ) { %>
                            <tr>
                                <td><%= itemOffer.Campaign.Name %></td>
                                <td><%= itemOffer.Product.Name %><b>(<%= itemOffer.Product.Code %>)</b></td>
                                <td class="text-center">
                                    <%= itemOffer.Offer.IsPercentage ? itemOffer.Offer.Amount : 'N/A' %>
                                </td>
                                <td class="text-center">N/A</td>
                                <td class="text-right">
                                    <%= itemOffer.Discount %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                <% } %>

                <% if (order.OrderOfferList) { %>
                    <% for (let orderOffer of order.OrderOfferList) { %>
                        <% if (orderOffer.Offer.OfferType === 'DISCOUNT_AMOUNT_ON_TOTAL_ORDER_AMOUNT') { %>
                            <tr>
                                <td><%= orderOffer.Campaign.Name %></td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center"><%= orderOffer.Discount %></td>
                            </tr>
                        <% } %>
                        <% if (orderOffer.Offer.OfferType === 'PERCENTAGE_DISCOUNT_ON_TOTAL_ORDER_AMOUNT') { %>
                            <tr>
                                <td><%= orderOffer.Campaign.Name %></td>
                                <td class="text-center">N/A</td>
                                <td class="text-center"><%= orderOffer.Offer.Amount %></td>
                                <td class="text-center">N/A</td>
                                <td class="text-right">
                                    <%= orderOffer.Discount %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        <% } %>

        <table class="secondary-order-details-summary">
            <tr>
                <th class="text-right">Discount</th>
                <th class="text-right"><%= utilFunctions.currencyPipe(order.DiscountTotal) %></th>
            </tr>

            <tr>
                <th class="text-right">Net Payable</th>
                <th class="text-right"><%= utilFunctions.currencyPipe(order.TotalAmount) %></th>
            </tr>

        </table>

        <div class="template-order-remarks"><b>Comment:</b> This is default format.</div>
    </div>

<% } else { %>
<% } %>
</body>
</html>