<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        <%= styles %>
    </style>
</head>
<body>
<% for (const order of items) { %>
    <div class="order-template-container">
        <div class="order-header-section">
            <img src="<%= orgLogo %>">
            <div class="template-mid-section">
                <table class="template-mid-section-child">
                    <tr>
                        <th>Distributor:</th>
                    </tr>
                    <tr>
                        <th><%= order.distributor.name %></th>
                    </tr>
                    <tr>
                        <td>Code: <%= order.distributor.code %></td>
                    </tr>
                    <% if (order.distributor.address) { %>
                        <tr>
                            <td><%= order.distributor.address %></td>
                        </tr>
                    <% } %>
                    <% if (order.distributor.mobile) { %>
                        <tr>
                            <td><%= order.distributor.mobile %></td>
                        </tr>
                    <% } %>
                    <% if (order.distributor.phone) { %>
                        <tr>
                            <td><%= order.distributor.phone %></td>
                        </tr>
                    <% } %>
                </table>

                <table class="template-mid-section-child">
                    <tr>
                        <th>Retailer:</th>
                    </tr>
                    <tr>
                        <th><%= order.retailer.name %></th>
                    </tr>
                    <tr>
                        <td>Code: <%= order.retailer.code %></td>
                    </tr>
                    <% if (order.retailer.address) { %>
                        <tr>
                            <td><%= order.retailer.address %></td>
                        </tr>
                    <% } %>
                    <% if (order.retailer.mobile) { %>
                        <tr>
                            <td><%= order.retailer.mobile %></td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <div class="template-info-section">
                <table>
                    <tr>
                        <td>Order</td>
                        <td>#<%= order.orderId %></td>
                    </tr>
                    <tr>
                        <td>Order Time</td>
                        <td><%= order.orderDate %></td>
                    </tr>
                    <tr>
                        <td>Market</td>
                        <td>
                            <% if (order.market) { %>
                                <%= order.market.marketname %><b>(<%= order.market.marketcode %>)</b>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><%= order.isApproved %></td>
                    </tr>
                    <tr>
                        <td>Created by</td>
                        <td><%= order.user.name %><b>(<%= order.user.code %>)</b></td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <table class="template-table" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-left">SL.</th>
                    <th class="text-left">SKU</th>
                    <th class="text-right">ETP</th>
                    <th class="text-right">Pcs</th>
                    <th class="text-right">Kg/Ltr</th>
                    <th class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < order.productInfos.length; i++) {
                    let orderDetail = order.productInfos[i];
                %>
                <tr>
                    <td>
                        <%= orderDetail.serial %>.
                    </td>
                    <td>
                        <%= orderDetail.product.name %><b>(<%= orderDetail.product.code %>)</b>
                    </td>
                    <td class="text-right">
                        <%= orderDetail.etp %>
                    </td>
                    <td class="text-right">
                        <%= orderDetail.pcs %>
                    </td>
                    <td class="text-right">
                        <%= orderDetail.volume %> <%= orderDetail.product.measurementUnit %>
                    </td>
                    <td class="text-right">
                        <%= orderDetail.total %>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <table class="secondary-order-details-summary">
            <tr>
                <th class="text-right">Total Kg/Ltr</th>
                <th class="text-right"><%= order.totalVolume %></th>
            </tr>

            <tr>
                <th class="text-right">Total Amount</th>
                <th class="text-right"><%= order.totalAmount %></th>
            </tr>

        </table>
        <div class="template-order-remarks"><b>Comment:</b> <%= order.remarks %></div>
    </div>
    <% if (!order.isLastPage) { %>
        <div class="page-break"></div>
    <% } %>
<% } %>

<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</body>
</html>


