<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        <%= styles %>
    </style>
</head>
<body>
<div class="invoice-container">
    <%
    for (const value of items) {
    %>
        <div class="organization-section">
            <div class="org-image">
                <img src="<%= orgLogo %>">
            </div>
            <div class="org-info">
                <div>Akij Flour Mills Ltd</div>
                <div>198 Bir Uttam Mir Shawkat Sarak Gulshan Link Road, Tejgaon, Dhaka-1208</div>
                <div>Phone: 09613116608</div>
            </div>
        </div>
        <div class="order-title">Order Summary</div>
        <div class="user-info-container">
            <div class="user-info">
                <div><%= value.user.name %><b>(<%= value.user.code %>)</b></div>
            </div>
            <div class="distributor-info">
                <div class="distributor-info-child"><%= value.distributor.name %><b>(<%= value.distributor.code %>)</b></div>
                <div class="distributor-info-child">

                    <% value.markets.forEach( (market, index) =>  { %>
                        <% if (market) { %>
                            <%= market.marketname %><b>(<%= market.marketcode %>
                                )</b> <% index === value.markets.length - 1 ? '.' : ', ' %>
                        <% } %>
                    <% }) %>
                </div>
                <div class="distributor-info-child"><%= value.distributor.address %></div>
            </div>
        </div>
        <table class="product-table" cellspacing="0">
            <thead>
            <tr>
                <th class="text-left">SL.</th>
                <th class="text-left">SKU</th>
                <th class="text-right">Qty</th>
                <th class="text-right">Kg/Ltr</th>
                <th class="text-right">Amount</th>
            </tr>
            </thead>
            <tbody>
            <%
            for (let j = 0; j < value.itemInfos.length; j++) { %>
                <tr>
                    <td class="text-left">
                        <%= value.itemInfos[j].serial %>.
                    </td>
                    <td class="text-left">
                        <%= value.itemInfos[j].product.name %><b>(<%= value.itemInfos[j].product.code %>)</b>
                    </td>
                    <td class="text-right">
                        <%= value.itemInfos[j].totalUnit %>
                    </td>
                    <td class="text-right">
                        <%= value.itemInfos[j].totalVolume %>  <%= value.itemInfos[j].product.measurementUnit %>
                    </td>
                    <td class="text-right">
                        <%= value.itemInfos[j].totalAmount %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <table class="secondary-order-details-summary">
            <tr>
                <th class="text-right">Total Kg/Ltr</th>
                <th class="text-right"><%= value.totalVolume %></th>
            </tr>

            <tr>
                <th class="text-right">Total Amount</th>
                <th class="text-right"><%= value.totalAmount %></th>
            </tr>

            <tr>
                <th class="text-right">Total Unit</th>
                <th class="text-right"><%= value.totalUnit %></th>
            </tr>

        </table>
        <%
        if (!value.isLastPage) { %>
            <div class="page-break"></div>
        <% } %>

    <% } %>
</div>

<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</body>
</html>
