<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        <%= styles %>
    </style>
</head>
<body>
<% for (const [key, value] of items) { %>
    <div class="invoice-container">
        <div class="page-header">
            <div class="invoice-header">
                <img src="<%= orgLogo %>">
                <div class="organization-info">
                    <div>Route To Market Internation Limited</div>
                    <div>222, Tejgaon Industrial Area, Dhaka-1208</div>
                    <div>Phone: +8802-9886701 | Web: www.rtmbd.com</div>
                </div>
            </div>
            <div class="page-title">
                <div class="invoice-title">
                    Order Summary
                </div>
            </div>
            <div class="page-user-info">
                <div class="user-info-container">
                    <div class="user-info">
                        <div>Date: 2025-06-25</div>
                        <div>Md. Hasib (Md. Hasib)</div>
                        <div>Route: Kazipara 2</div>
                    </div>
                    <div class="distributor-info">
                        <div><%= value.distributor.name%></div>
                        <div>Dhaka</div>
                    </div>
                </div>
            </div>
            <table class="product-table" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-left">SKU</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Kg/Ltr</th>
                    <th class="text-right">Amount</th>
                </tr>
                </thead>
            </table>
        </div>
        <table class="product-table" cellspacing="0">
            <tbody>
            <% for (let i = 0; i < value.itemInfos.length; i++) { %>
                <tr>
                    <td class="text-left">
                        <%= i + 1 %>. <%= value.itemInfos[i].product.name %>
                    </td>
                    <td class="text-right">
                        <%= value.itemInfos[i].totalUnit %>
                    </td>
                    <td class="text-right">
                        <%= value.itemInfos[i].totalVolume %>
                    </td>
                    <td class="text-right">
                        <%= value.itemInfos[i].totalAmount %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
<% } %>


<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</body>
</html>
